body {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: fixed;
  width: 200vh;
  height: 60px;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: #444;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #00bcd4;
}

.navbar .logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar .menu {
  display: flex;
}

header {
  background-color: #333;
  color: white;
}

main {
  background-color: #dad6d6;
}

footer {
  background-color: #333;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 550px;
}

.footer-section-menu {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.footer-section-menu a {
  color: white;
  text-decoration: none;
}

.footer-section-media {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.footer-section-media a {
  color: white;
  text-decoration: none;
}

/* style till services page  */
.services-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 15px;
  .services-sections {
    max-width: 500px;
    border: #444 solid 3px;
    border-radius: 16px;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 4px #333;
  }
}
/* style till about page  */

.main-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .about {
    grid-column: 1/2;
    border: #444 solid 3px;
    border-radius: 16px;
    padding: 20px;
    margin: 40px;
    width: 400px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 4px #333;
  }
  .about-us {
    grid-column: 2/3;
    img {
      height: 200px;
    }
  }
}
